.podpis{
    border-bottom: 3px solid black;
    width:80%;
    font-size: 30px;
}
.topheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    display: block;

}
.listmap{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:40%;
}
.route{
    display: flex;
    flex-direction: column;
    height:40%;
}

.modalback{
    display:none;
    position:fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.modalfront{
    position: fixed;
    background-color: white;
    width: 600px;
    height: 600px;
    z-index: 99999;
    margin:auto;
    top: 20%;
    left:20%;
    padding: 20px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
}

.mainplace{
    height: 40%;
    width: 100%;
}

.way{
    height: 30%;
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}

.route{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.map{
    display: flex;
    
}
.rem{
    display:none;
    margin:10px;
}
.map:hover .rem{
    display:block;
}